#song a {
    border-bottom: 0.1em solid #000;
    padding-bottom: 0.3em;
}

// .now-playing {
//     height: 3rem;
//     line-height: 3rem;
//     padding-left: 1rem;
//     font-size: 1rem;
//     .hidden-link {
//         color: #000;
//         text-decoration: none;
//     }
    .visible-link {
        color: black;
    }
    a {
        color: #000;
        text-decoration: none;
    }
    

// }

.hidden-link {
    color: #000;
    text-decoration: none;
}

* {
    text-transform: lowercase !important;
}
